<%- include("header") -%>

    <!-- <h2 class="h2 big-heading mb-3"><%= pokemonName %></h2><p><%= pokemonPrimaryType %></p><p><%= pokemonSecondaryType %></p> -->
    <div class="container-fluid pokedex-container">

        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/">Back</a>
        </nav>
        <div class="row">
            <div class="image-container col-lg-6">
                <img src="<%= pokemonImage %>" alt="Image of the searched pokemon" class="pokemon-image" referrerpolicy="no-referrer">
            </div>
            <div class="col-lg-6 dex-entry">
                <div class="dex-data">
                    <h2><%= pokemonName %></h2>
                    <p>
                        <b>Species:</b> The <%= pokemonSpecies %> Pokemon<br>
                        <b>Primary Type:</b> <%= pokemonPrimaryType %> <br>
                        <b>Secondary Type:</b> <%= pokemonSecondaryType %> <br>
                        <b>Average Height:</b> <%= pokemonHeight %> <br>
                        <b>Average Weight:</b> <%= pokemonWeight %> <br>
                        <b>Description:</b> <%= pokemonDescription %>
                    </p>
                </div>
            </div>

        </div>


    </div>

    <%- include("footer") -%>